@media (max-width: 1280px){
    .cabeca .title{
        font-size: 35px;
    }

    .selecionar-personagem .lista-personagens{
        max-width: 233px;
    }

    .selecionar-personagem .lista-personagens .personagem{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 830px){
    .selecionar-personagem .personagem-grande img{
        left: 50%;
        width: 250px;
        height: 430px;
    } 
    .selecionar-personagem .personagem-grande .nome h2{
        padding: 84px;

    } .selecionar-personagem .personagem-grande.personagem-jogador-2 .nome::before
    {
        bottom: 64px;
    } .selecionar-personagem .personagem-grande.personagem-jogador-1 .nome::before{
        bottom: 64px;
    }
}


@media (max-width: 768px){
    body::before{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 1;
    }

    main{
        padding: 0 5px;
        justify-content: start;
    }

    .cabeca .title{
        font-size: 24px;
    }

    .selecionar-personagem .personagem-grande{
        display: none;
    }
}


@media(max-width:360px){
    .cabeca .title{
        font-size: 19px;
    }
}
