* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  
  :root {
    --cor-vermelha-principal: #D60223;
    --cor-vermelha-media: #f89284;
    --cor-vermelha-fraca: #ffbebe;
  
    --cor-marrom-fraco: #ebd5d2;
  
    --cor-azul-principal: #0271F7;
    --cor-azul-media: #d3ffff;
    --cor-azul-fraca: #8fbff8;
  
    --cor-roxa-fraca: #c2c2f1;
  
    --cor-titulo-fraco: #faefd8;
    --cor-titulo-forte: #f77a2c;
  
    --cor-padrao: #ffffff;
    --cor-secundaria: #000000;
  }




@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@font-face {
    font-family: 'sf4';
    src: url(../SSF4\ ABUKET.ttf);
}


body{
    font-family: 'orbitron', serif;
    background-color: var(--cor-secundaria); 
}

/* FUNDO COM OCUPACIDADE */

body::before{
    content: '';
    background-image: url("../imgs/1zfb.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

main{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* CABEÇALHO */

.cabeca {
    justify-content: center;
    z-index: 1;
    display: flex;
}

.cabeca .title{
    -webkit-text-stroke: 2px #FFB00C;
   font-family: 'Orbitron',sans-serif;
      text-transform: uppercase;
    font-size: 52px;
    line-height: 102px;
}

/* SELEÇÃO DE PERSONAGENS */

.selecionar-personagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.personagem-grande{
    text-align: center;
    width: 300px;
    height: 70vh;
    position: relative;
}

.selecionar-personagem .personagem-grande .nome::before{
    content: '';
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0px;
    
}

.selecionar-personagem .personagem-grande img{
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.selecionar-personagem .personagem-grande .nome h2{
    color: var(--cor-padrao);
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 27px;
}

.selecionar-personagem .personagem-grande.personagem-jogador-1 .nome::before{
    background-color: var(--cor-azul-principal);
}

.selecionar-personagem .personagem-grande.personagem-jogador-2 .nome::before{
    background-color: var(--cor-vermelha-principal);
}


ul {
    list-style: none;
  }

  /* LISTA DE PERSONAGENS */

  .lista-personagens{
      display: flex;
      flex-wrap: wrap;
      max-width: 600px;
      justify-content: center;
      gap: 12px;
  }

  .personagem{
      border: 2px solid var(--cor-padrao);
      background-color: var(--cor-padrao) ;
      width: 24%;
      height: 150px;
      cursor: pointer;
      z-index: 2;
      border-radius: 5px;
      position: relative;
      transition: 0.15s ease-in-out;
  }

  .personagem img{
      width: 100%;
      height: 100%;
      border-radius: 5px;
  }

  .personagem.selecionado{
      border: 2px solid var(--cor-azul-fraca);
      animation: c-glowing-blue .3s ease-in-out infinite;
      animation-direction: alternate;
  }

  .personagem:hover{
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.09);
    z-index: 2;
  }

  .personagem.jogador-2-selecionado{
    border: 2px solid var(--cor-vermelha-media);
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.personagem.jogador-2-selecionado:hover{
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.personagem .tag{
    display: none;
    top: 5px;
    position: absolute;
    font-size: 16px;
    left: 5px;
    color: var(--cor-azul-principal);
    transition: opacity .3 ease-in-out;
    animation: alternate text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.personagem.selecionado .tag{
    display: block;
    animation: alternate text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;

}

.personagem.jogador-2-selecionado .tag{
    display: block;
    color: var(--cor-vermelha-principal);
    animation: alternate text-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
    
}






